header {
    background-image: url('../../img/home-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
  }

  /* ------------------------------------ */
  
  .home-search {
    background-color: rgba(255, 255, 255, 0.63);
    height: 70px;
    width: 500px;
    display: flex;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .location-search,
  .check-in-search,
  .check-out-search,
  .guests-search,
  .search-icon {
    width: 22%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #dbcec5;
  }
  
  .location-search {
    width: 35%;
    border-left: none;
  }
  
  .home-search p {
    margin-bottom: 1.5px;
  }
  
  .home-search p:first-child {
    color: #000000;
    font-weight: 700;
  }
  
  .home-search input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  
  .location-search input {
    width: 171px;
    height: 39px;
    padding: 15px;
  }
  
  .check-in-search input {
    width: 111px;
    height: 39px;
  }
  .check-out-search input {
    width: 113px;
    height: 39px;
  }
  .guests-search input {
    width: 174px;
    height: 39px;
    padding: 15px;
  }
  
  /* position */
  .top-menu {
    position: relative;
  }
  
  .home-search {
    position: absolute;
    top: 400px;
    /* z-index: 1; */
    left: 80px;
  }
  
  nav {
    z-index: 1000;
  }
  
  .slogan {
    position: absolute;
    top: 235px;
    /* z-index: 2; */
    left: 80px;
  }
  
  .search-icon {
    position: absolute;
    top: 408px;
    /* z-index: 4; */
    left: 600px;
  }
  
  /* Slogan */
  .slogan {
    line-height: 80px;
    color: #ffffff;
  }
  
  .slogan .big-text {
    font-size: 100px;
  }
  
  .slogan p {
    font-size: 50px;
  }
  
  .slogan .big-text span:first-child {
    color: #ff0000;
    font-weight: 600;
  }
  
  /* search-icon */
  .search-icon {
    width: 55px;
    height: 55px;
    background-color: #ff1010;
    border-radius: 50%;
  }
  
  .search-icon ion-icon {
    font-size: 30px;
    padding-left: 12px;
    padding-top: 3px;
  }