.footer img {
    width: 60px;
    height: 60px;
  }
  
  .footer span {
    display: block;
  }
  
  .footer li {
      display: inline-block;
      margin-left: 10px;
  }
  
  .below-footer {
      background: #DCDCDC;
      height: calc(90vh - 270px);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .top-footer {
      background: #F7F7F7;
      display: flex;
      justify-content: space-evenly;
      height: 270px;
      align-items: center;
  }

  .footer {
      margin-top: 70px;
  }