/* 
/* BASIC SETUP */
/* ------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-weight: 400;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-family: 'lato', Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}






